:root{
  --dotW:5vh;
  /* --dotW:calc(5vh - var(--matrix)); */
}
#app{
  padding:30px;
  font-size:20px;
  display: flex;
  /* flex-wrap: wrap; */
}
.canvas{
  display:flex;
  width:calc(var(--dotW) * var(--matrix));
  flex-wrap:wrap;
  flex:0 0 auto;
}
.pattern{
  /* width:0%; */
  padding-left:30px;
  color:#444;
}
.dot-label {
 display: block;
 position: relative;
 cursor: pointer;
 user-select: none;
 height: var(--dotW);
 width: var(--dotW);
}
.dot-label:nth-child(an+b)

.dot-label input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
}

.dot {
 position: absolute;
 top: 0;
 left: 0;
 height: var(--dotW);
 width: var(--dotW);
 display: block;
 background-color: #eee;
}

.dot-label:hover input ~ .dot {
 background-color: #ccc;
}

.dot-label input:checked ~ .dot {
 background-color: black;
}

.item{
  display: inline-block;
  font-family: monospace;
}
