<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Image2pattern</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="app">
      <div class="canvas" v-bind:style="{'--matrix':boxes.matrix}">
        <label class="dot-label" v-for="n in boxes.matrix * boxes.matrix">
          <input class="box"
            type="checkbox"
            v-on:change="updatePattern(n)"
            :value="n"
            :id="'id-'+n"
            v-model="checkedBoxes"
            type='checkbox'>
          <span class="dot"></span>
        </label>
      </div>
      <div class="pattern">
        <select v-model="boxes.matrix"  v-on:change="generatePattern()" >
          <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
          </option>
        </select>
        <br>
        <span v-for="element in pattern" class="item">
          <span>{{ element }}</span>
        </span>
      </div>
    </div>
  </body>
  <script src="js/vue.min.js" charset="utf-8"></script>
  <script src="js/main.js" charset="utf-8"></script>
</html>
