<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Receiver</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="app">
      <div class="info">
        <p>Time Between Pulses: {{estimTBP}}</p>
        <p>Play mode: {{playMode}}</p>
        <button v-on:click="stopAll()">S</button>
        <button v-on:click="getPulse()">P</button>
      </div>
      <div class="canvas" v-bind:style="{'--matrix':boxes.matrix}">
        <div class="element-box" v-for="n in boxes.matrix * boxes.matrix">
          <div class="element n"
            :data-value="elements[n]"
            :id="'id-'+n"
            v-model="elements"
>
        </div>
      </div>
    </div>
  </div>
  </body>
  <script src="js/vue.min.js" charset="utf-8"></script>
  <script src="js/main.js" charset="utf-8"></script>
</html>
