:root{
  --dotW:5vh;
  /* --dotW:calc(5vh - var(--matrix)); */
}
#app{
  padding:30px;
  font-size:15px;
  display: flex;
  font-family: sans-serif;
}
.canvas{
  display:flex;
  width:calc(var(--dotW) * var(--matrix));
  flex-wrap:wrap;
  flex:0 0 auto;
  align-content: flex-start;
}
button{
  width: 100%;
  background: black;
  border-radius: 100%;
  height:100px;
  width:100px;
  border:0;
  color:white;
  position: relative;
}
button:active{
  transform: scale(0.97);
}
.element-box {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  height: var(--dotW);
  width: var(--dotW);
}
.info{
  padding-right: var(--dotW);
}
.element-box:nth-child(an+b)

.element-box div {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.element {
 /* position: absolute; */
  top: 0;
  left: 0;
  height: var(--dotW);
  width: var(--dotW);
  display: block;
  background-color: #eee;
}


.element-box .element[data-value="1"]{
  background-color: #ccc;
}
.element-box .element[data-value="2"]{
  background-color: black;
}
.element-box .element[data-value="3"]{ /* Debug */
  background-color: red;
}
