<template lang="html">
  <div>
    <div class="instrument" :class="{minimized:instrument.isMinimized}">
      <div class="controls">
        <div class="icon-group">
          <button class="item" v-on:click="removeInstrument(instrument)" title="Remove Instrument">
            <img src="../assets/remove.svg">
          </button>
          <button class="item" v-on:click="minimizeInstrument(instrument)" title="Toggle Minimize Instrument">
            <span v-if="instrument.isMinimized">
              <img src="../assets/maximize.svg">
            </span>
            <span v-else>
              <img src="../assets/minimize.svg">
            </span>
          </button>
          <button class="item" v-on:click="muteInstrument(instrument)" title="Mute Instrument">
            <span v-if="instrument.isMute">
              <img src="../assets/mute.svg">
            </span>
            <span v-else>
              <img src="../assets/sound.svg">
            </span>
          </button>
        </div>
        <div class="item mini"><label title="Pulses in a measure"><span>Pulses</span>
          <input type='number' class="small" min="1" :value="instrument.padList.length" v-on:input="updatePadNbr($event.target.value, instrument)"></label>
        </div>
        <div class="item mini"><label title="Number of measures"><span>Measures</span>
          <input type='number' class="small" min="1" :value="instrument.measures" v-on:input="updateMeasures($event.target.value, instrument)"></label>
        </div>
        <div class="item mini"><label title="Probability for a measure to be played (/10)"><span>Probability</span>
          <input type='number' class="small" min="1" max="10" :value="instrument.probability" v-on:input="updateInstrumentProbability($event.target.value, instrument)"></label>
        </div>
        <details class="item mini" v-if="this.$store.state.isMidi">
          <summary>Midi</summary>
          <label class="item">
            <span>Note</span>
            <input type='text' :value="instrument.midiData.note" v-on:input="updateMidiNote($event.target.value, instrument)">
          </label>
          <label class="item">
            <span>Channel</span>
            <input type='number' :value="instrument.midiData.channel" v-on:input="updateMidiChannel($event.target.value, instrument)">
          </label>
        </details>
      </div>
      <div class="lines">
        <line-c
        :instrument="instrument"
        :index="index"
        :currentPad="currentPad"
        @toggle-pad="handleTogglePad">
        </line-c>
      </div>
    </div>
  </div>
</template>

<script lang="js">
  import { mapActions } from 'vuex'
  let LineC, io, socket
  LineC = require('./Line');
  io = require('socket.io-client');
  socket = null;

  module.exports = {
    name: 'instrument',
    components: {
      LineC: LineC
    },
    props: ['instrument', 'index'],
    data: function() {
      return {
        s: this.$store.state,
        currentFreq: 0
      };
    },
    computed: {
      currentPad: function() {
        let measures = this.instrument.measures
        let pads = this.instrument.padList.length
        let currentPad = Math.floor(this.s.time / measures) % pads
        return currentPad;
      },
    },
    watch: {
      currentPad: function() {
        return this.playNextPad()
      },
    },
    methods: {
      createSynth: function(){
        socket = io();
      },
      playNextPad: function() {
        let current = this.currentPad
        let instrument = this.instrument
        let padList = instrument.padList
        let note = instrument.note
        let pin = instrument.pin
        let midiData = instrument.midiData
        let results = []
        if (current == 0) {
          // if first pad of line, check instr. probability
          let instrumentProbability = instrument.probability
          let ran = Math.round(Math.random() * 10)
          if (instrumentProbability >= ran) {
            instrument.isInactive = false
          }else {
            instrument.isInactive = true
          }
        }
        if (current > -1 && padList[current].padActive ){ // plays
          let offset = padList[current].padOffset
          let padProbability = padList[current].padProbability
          let ran = Math.round(Math.random() * 10)
          if (padProbability >= ran) {
            this.doSetTimeout(note, pin, results, midiData, offset)
          }
        }else{ // don’t play pad
          results.push(void 0);
        }
        return results;
      },
      doSetTimeout: function(note, pin, results, midiData, offset){
        let self = this;
        let pads = this.instrument.padList.length
        let computedOffset = Math.floor((offset * this.s.interPadTime) / 100)
        setTimeout(function(){
          if (self.$store.state.isMute == false) { // Global sound not mute
            if (self.instrument.isMute == false && self.instrument.isInactive == false) { // Instrument not mute
              if (self.$store.state.isWebaudio == true) { // webaudio not mute
                let synth = new Tone.MembraneSynth()
                self.instrument.synth = synth
                synth.envelope.attack = 0.01
                synth.envelope.sustain = 0.0001
                synth.envelope.attackCurve = "linear"
                synth.volume.value = self.instrument.volume;
                synth.octaves = 1
                synth.toDestination()
                synth.triggerAttackRelease(note);
              }
              if (self.$store.state.isGPIO) {
                results.push(socket.emit('hit','pad',pin));
              }
              if (self.$store.state.isMidi) {
                let m = self.instrument.midiData
                self.$store.state.midiOutput.stopNote(m.note, m.channel)
                self.$store.state.midiOutput.playNote(m.note, m.channel)
              }
            }
          }
        }, computedOffset);
      },
      handleTogglePad: function(solName, pos) {
        let padList = this.solenoids[solName].padList
        if (padList[pos].padActive) {
          padList[pos].padActive = false
        }else{
          padList[pos].padActive = true
          return socket.emit('hit','togglePad',solName);
        }
        return padList[pos].padActive
      },
      removeInstrument(instrument) {
        let index = this.$store.state.instruments.indexOf(instrument);
        if (index >= 0) {
          this.$store.state.instruments.splice(index, 1);
        }
        this.saveState();
      },
      muteInstrument(instrument) {
        let index = this.$store.state.instruments.indexOf(instrument);
        if (index >= 0) {
          let val = instrument.isMute;
          if (val == true) {
            instrument.isMute = false
          } else {
            instrument.isMute = true
          }
        }
        this.saveState();
      },
      minimizeInstrument(instrument) {
        let index = this.$store.state.instruments.indexOf(instrument);
        if (index >= 0) {
          instrument.isMinimized = ! instrument.isMinimized
        }
        this.saveState();
      },
      updatePadNbr(val, instrument){
        val = parseFloat(val)
        let padList = instrument.padList
        let currentPadLength = padList.length
        let newPadLength = val
        if (newPadLength > currentPadLength) {
          padList.push({padActive:false, padOffset:0, padProbability:10})
        }else {
          padList.pop()
        }
      },
      updateMeasures(val, instrument){
        val = parseFloat(val)
        instrument.measures = val
      },
      updateInstrumentProbability(val, instrument){
        instrument.probability = val
      },
      updateMidiNote(val, instrument){
        instrument.midiData.note = val
      },
      updateMidiDuration(val, instrument){
        instrument.midiData.duration = val
      },
      updateMidiChannel(val, instrument){
        instrument.midiData.channel = val
      },
      saveState() {
        // TODO Has to be centralized in global state!
        // error on chromium?
        localStorage.setItem('grovity', this.$store.getters.toJSON);
        this.$store.commit('showSaveIndicator')
      },
    },
    created: function(val, index) {
      this.createSynth()
    },
  };
</script>

<style lang="css">
  .instrument{
    margin-bottom: var(--p);
    padding: var(--p);
    display:flex;
    background: var(--g5);
  }
  button{
    width:40px;
  }
  .controls{
    width: min(100%, 170px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: var(--p);
  }
  .controls .item{
    margin-bottom: var(--p);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .controls .item:last-child,
  .icon-group .item{
    margin-bottom: 0;
  }
  .icon-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--p);
  }

  .instrument .controls label{
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lines{
    width: 100%;
  }
  .instrument.minimized .mini{
    display: none;
  }
  .instrument.minimized .pad, .instrument.minimized .pad-button{
    height:50px;
  }
  @media (max-width:1000px) {
    .instrument{
      flex-wrap: wrap;
    }
    .controls{
      padding: 0;
      width:100%;
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
