<template lang="html">
  <div class="line-container">
    <div class="line-params mini">
      <label v-if="this.$store.state.isGPIO" title="GPIO pin number"><span>Motor n°</span>
        <select @change="updatePin($event.target.value, instrument)">
          <option v-for="i in s.pinList" :value="i">{{ i }}</option>
        </select>
      </label>
      <label title="Note (Frequency in Hertz)"><span>Note</span>
        <input @change="updateNote($event.target.value, instrument)" type="number" step="10" :value="instrument.note">
      </label>
      <label title="Instrument volume"><span>Volume</span>
        <input type="number" min="-70" :value="instrument.volume" v-on:input="updateVolume($event.target.value, instrument)">
      </label>
      <div class="icon-group">
        <button @click="clearPads(instrument)" title="Clear line">
          <img src="../assets/no-eucl.svg">
        </button>
        <button @click="euclid(instrument)" title="Random Eclidean Pattern">
          <img src="../assets/eucl.svg">
        </button>
        <button @click="fillPads(instrument)" title="Fill line">
          <img src="../assets/fill.svg">
        </button>
      </div>
      <div class="icon-group swing">
        Swing
        <label>
          <input type="number" class="small" title="Swing distribution" min="0" max="10" :value="instrument.swingDistribution" v-on:input="updateSwingDistribution($event.target.value, instrument)">
        </label>
        <label>
          <input type="number" class="small" title="Swing value" min="0" max="99" :value="instrument.swingValue" v-on:input="updateSwingValue($event.target.value, instrument)">
        </label>
      </div>
    </div>
    <div class="pad-container">
      <pad
        v-for="(pad, padIndex) in instrument.padList"
        :pad="pad"
        :padIndex="padIndex"
        :currentPad="padIndex == currentPad"
        :instrIndex="index"
      >
      </pad>
    </div>
  </div>
</template>

<script lang="js">
var Pad = require('./Pad');
import er from 'euclidean-rhythms'

  module.exports = {
    name: 'lineC',
    components: {
      Pad: Pad
    },
    props: ['instrument','index','currentPad'],
      data: function() {
        return{
          s: this.$store.state,
        }
      },
      methods:{
        updatePin(val, instrument){
          instrument.pin = val
        },
        updateVolume(val, instrument){
          instrument.volume = val
        },
        updateNote(val, instrument){
          instrument.note = val
        },
        updateSwingValue(val, instrument){
          let pads = instrument.padList
          let swingDistribution = Number(instrument.swingDistribution)
          for (let i = 0; i < pads.length; i++) {
            if (i % swingDistribution == 0 || swingDistribution == 0) {
              let padToMove = i - 1 + swingDistribution
              if (padToMove <= pads.length) {
                pads[padToMove].padOffset = val
              }
            }
          }
        },
        updateSwingDistribution(val, instrument){
          instrument.swingDistribution = val
        },
        euclid(instrument){
          let pads = instrument.padList
          let padNbr = pads.length
          let highLimit = Math.ceil(padNbr * .7)
          //  ^ the max rand generated number will be max at .7 of the total pad number
          let randomHits = Math.floor(Math.random() * highLimit) + 2
          let newDistribution = er.getPattern(randomHits,padNbr);
          for (let i = 0; i < padNbr; i++) {
            pads[i].padActive = newDistribution[i]
          }
        },
        clearPads(instrument){
          let pads = instrument.padList
          for (let i = 0; i < pads.length; i++) {
            pads[i].padActive = false
          }
        },
        fillPads(instrument){
          let pads = instrument.padList
          for (let i = 0; i < pads.length; i++) {
            pads[i].padActive = true
          }
        },
      }
    };
</script>

<style lang="css">
  .line-container{
    display:flex;
    align-items: center;
    background: var(--g4);
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .line-container:last-child{
    margin-bottom: 0;
  }
  .line-params{
    display: flex;
    padding: var(--p);
    min-width: 200px;
    flex-direction: column;
    justify-content: space-between;
  }
  .line-params label, .line-params .icon-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:5px;
  }
  .line-params label:last-child,
  .line-params .icon-group:last-child,
  .line-params .icon-group label{
    margin-bottom: 0;
  }
  .line-params label span{
    display: inline-block;
    min-width:80px;
  }
  .line-params .odd{
    opacity: .5;
  }
  .pad-container{
    padding-left: calc(var(--p) *1);
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @media (max-width:1000px) {
    .line-container{
      flex-wrap: wrap;
    }
    .line-params{
      width:100%;
      flex-direction: row;
      justify-content: space-between;
    }
    .pad-container{
      padding-bottom: var(--p);
    }
  }
</style>
