<template lang="html">
    <div class="pad" @mouseover="setFocus()" :class="{active:pad.padActive, played: currentPad}">
      <input class="probability slider mini" title="Probability"
        type="range"
        min="0"
        max="10"
        :value="pad.padProbability"
        ref="probability"
        v-on:change="updatePadProbability($event.target.value, instrIndex, padIndex)"
      >
      <input
        class="pad-button"
        type="range"
        min="0"
        max="95"
        :value="pad.padOffset"
        v-on:touchstart="mouseDownPad(instrIndex,padIndex)"
        v-on:touchmove="mouseMovePad(instrIndex,padIndex)"
        v-on:touchend="mouseUpPad(instrIndex,padIndex)"
        v-on:mousedown="mouseDownPad(instrIndex,padIndex)"
        v-on:mousemove="mouseMovePad(instrIndex,padIndex)"
        v-on:mouseup="mouseUpPad(instrIndex,padIndex)"
        @input="updateOffset($event.target.value, instrIndex, padIndex)"
        >
      <input class="offset slider" title="Offset"
        type="range"
        min="0"
        max="95"
        :value="pad.padOffset"
        ref="offset"
        @input="updateOffset($event.target.value, instrIndex, padIndex)"
      >
    </div>
</template>

<script lang="js">
module.exports = {
  name: 'pad',
  props: ['pad', 'padIndex', 'instrIndex', 'currentPad'],
  data: function() {
    return {
      drag: false
    }
  },
  methods: {
    mouseDownPad: function(instrIndex, padIndex) {
      this.drag = false
    },
    mouseMovePad: function(instrIndex, padIndex) {
      this.drag = true;
    },
    mouseUpPad: function(instrIndex, padIndex) {
      if (!this.drag) {
        this.clickPad(instrIndex, padIndex);
      }
    },
    clickPad: function(instrIndex, padIndex) {
      this.drag = false
      let pad = this.$store.state.instruments[instrIndex].padList[padIndex]
      if (pad.padActive == true) {
        pad.padActive = false
      }else{
        pad.padActive = true
      }
      // this.saveState()
    },
    updateOffset: function(value, instrIndex, padIndex) {
      let pad = this.$store.state.instruments[instrIndex].padList[padIndex]
      pad.padOffset = value
      // this.saveState()
    },
    updatePadProbability: function(value, instrIndex, padIndex) {
      let pad = this.$store.state.instruments[instrIndex].padList[padIndex]
      pad.padProbability = value
    },
    setFocus: function() {
      this.$refs.offset.focus();
    },
    saveState() {
      // TODO Has to be centralized in global state
      localStorage.setItem('grovity', this.$store.getters.toJSON);
      this.$store.commit('showSaveIndicator')
    },
  },

};
</script>

<style lang="css">
  .pad-container{
    margin-bottom: var(--p)
  }
  .pad-container:last-child{
    margin-bottom: 0;
  }
  .pad{
    width: 100%;
    height: 80px;
    cursor: pointer;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  input[type="range"].slider{
    left:0;
    padding: 0;
    border: none;
    appearance: none;
    width: 30px;
    min-width: 0;
    height: 2px;
    border-radius: 5px;
    background: var(--g1);
    transform: rotate(-90deg);
    outline: none;
    opacity: .3;
    border:5px solid inherit;
  }

  input[type="range"].pad-button{
    -webkit-appearance: none;
    left:0;
    padding: 0;
    border: none;
    appearance: none;
    width: 95%;
    height: 30px;
    min-width: 0;
    background: linear-gradient(to bottom, transparent 45%, white 50%, transparent 55%);
    outline: none;
  }

  .offset{
    display: none;
    bottom: 4px;
  }
  .probability{
    top:0px;
  }
  .pad.active .probability {
    opacity: 1;
  }
  .pad-button::-moz-range-thumb{
    position: relative;
    cursor: pointer;
    appearance: none;
    width:40px;
    height:40px;
    border-radius: 80px;
    background: var(--g6);
    min-width: 0;
    border:none;
  }

  .pad-button::-webkit-slider-thumb {
    position: relative;
    cursor: pointer;
    appearance: none;
    width:40px;
    height:40px;
    border-radius: 80px;
    background: var(--g6);
    min-width: 0;
    border:none;
  }

  input[type="range"].slider::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background: var(--g1);
    cursor: pointer;
  }

  input[type="range"].slider::-moz-range-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background: var(--g1);
    cursor: pointer;
  }
  .pad-button{
    width:40px;
    height:40px;
    position: relative;
    border-radius: 80px;
    background: white;
    min-width: 0;
  }
  .pad.active .pad-button::-moz-range-thumb{
    background:var(--g2);
  }
  .pad.played .pad-button::-moz-range-thumb{
    background: var(--g5);
  }
  .pad.active.played .pad-button::-moz-range-thumb{
    background: var(--g0);
  }

  .pad.active .pad-button::-webkit-slider-thumb {
    background:var(--g2);
  }
  .pad.played .pad-button::-webkit-slider-thumb {
    background: var(--g5);
  }
  .pad.active.played .pad-button::-webkit-slider-thumb {
    background: var(--g0);
  }
</style>
