<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Rhythm Drawer</title>
</head>
<body>
  <div id="app">
    <button type="button" @click="hit" name="button">hit</button>
    <button type="button" @click="play" name="button">play</button>
    <div class="canvas" v-bind:style="{'--matrix':boxes.matrix}">
      <label class="dot-label" v-for="n in boxes.matrix">
        <input class="box"
          type="checkbox"
          v-on:change="updatePattern(n)"
          :value="n"
          :id="'id-'+n"
          v-model="checkedBoxes"
          type='checkbox'>
        <span class="dot"></span>
      </label>
    </div>
    <div class="pattern">
      <select v-model="boxes.matrix"  v-on:change="generatePattern()" >
        <option v-for="option in options" v-bind:value="option.value">
          {{ option.text }}
        </option>
      </select>
      <br>
      <span v-for="element in pattern" class="item">
        <span>{{ element }}</span>
      </span>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>

    var socket = null;
    var app = new Vue({
      el: '#app',
      data: {
        boxes: {
          matrix :4,
        },
        options: [
          { text: '2×2', value: 4 },
          { text: '3×3', value: 9 },
          { text: '4×4', value: 16 },
          { text: '5×5', value: 26 },
          { text: '6×6', value: 36 }
        ],
        checkedBoxes: [],
        pattern:[],
        currentBox:0,
      },
      methods: {
        hit: function(){
          socket.emit('hit');
        },
        generatePattern: function(){
          this.pattern = []
          for (var i = 0; i < this.boxes.matrix; i++) {
            this.pattern.push(0)
            // this.pattern = toString(this.pattern)
          }
        },
        play: function(){
          const that = this
          setInterval(function(){that.playBox()}, 200);
        },
        updatePattern: function (n){
          isChecked = this.checkedBoxes.includes(n)
          this.pattern[n-1] = +isChecked // + forces boolean to be 1 and 0
        },
        playBox: function(){
          console.log(this.currentBox);
          // this.currentBox++
          if(this.currentBox == this.boxes.matrix){
            for (var i = 0; i < this.boxes.matrix; i++) {
              this.boxes[i].classList.remove('active')
            }
            this.currentBox = 0
          }else{

            // if(this.boxes[this.currentBox].hasAttribute('checked')){
            //   socket.emit('hit',1)
            // }
            // this.boxes[this.currentBox].classList.add('active')
            this.currentBox++
          }
        }
      },

      created: function () {
        socket = io();
      },
      mounted: function () {
        this.generatePattern()
        socket.on('hit', function () {
          console.log('hit!');
        });
      }
    });
  </script>
</body>
</html>
