<template lang="html">
  <div id="app" :class="this.$store.state.theme">
    <div class="main-controls">
      <button v-on:click="togglePlay" title="Play / Stop">
        <span v-if="this.s.isPlaying">
          <img src="./assets/stop.svg">
        </span>
        <span v-else>
          <img src="./assets/play.svg">
        </span>
      </button>
      <button v-on:click="toggleMute" title="Sound / Mute">
        <span v-if="this.s.isMute"><img src="./assets/mute.svg"></span>
        <span v-else><img src="./assets/sound.svg"></span>
      </button>
      <button v-on:click="addInstrument" title="Add Instrument">
        <img src="./assets/add.svg">
      </button>
      <label>BPM <input type='number' :value="this.$store.state.bpm" v-on:input="updateBpm($event.target.value)"></label>
      <label>Title <input type='text' :value="this.$store.state.title" v-on:input="updateTitle($event.target.value)"></label>
      <button v-on:click="showComment" :title="this.s.comment">
        <span v-if="this.s.comment"><img src="./assets/comment.svg"></span>
        <span v-else><img src="./assets/no-comment.svg"></span>
      </button>
      <label class="comment" :class="{show:this.s.showComment}">Comment <input type='text' :value="this.$store.state.comment" v-on:input="updateComment($event.target.value)"></label>
      <div class="button upload-btn" title="Import JSON file">
        <input ref="upload"
        class="upload-input"
        type="file"
        value="Upload"
        name="file-upload"
        multiple="false"
        accept="text/json"
        @change="importState">
        <img src="./assets/import.svg">
      </div>
      <button v-on:click="exportState" title="Export State">
        <img src="./assets/export.svg">
      </button>
      <div class="save-indicator" :class="{active:this.s.saveIndicator}"></div>
      <div class="output-list">
        <button v-on:click="updateOutputs('webaudio')" :class="{off:!this.s.isWebaudio}" title="Toggle Webaudio">
          <span v-if="this.s.isWebaudio"><img src="./assets/webaudio.svg"></span>
          <span v-else><img src="./assets/webaudio-off.svg"></span>
        </button>
        <button v-on:click="updateOutputs('midi')" :class="{off:!this.s.isMidi}" title="Toggle MIDI">
          <span v-if="this.s.isMidi"><img src="./assets/midi.svg"></span>
          <span v-else><img src="./assets/midi-off.svg"></span>
        </button>
        <button v-on:click="updateOutputs('gpio')" :class="{off:!this.s.isGPIO}" title="Toggle GPIO">
          <span v-if="this.s.isGPIO"><img src="./assets/gpio.svg"></span>
          <span v-else><img src="./assets/gpio-off.svg"></span>
        </button>
      </div>
      <div class="pin-list">
        <button v-for="(pin, index) in s.pinList" type="button" v-on:click="hit(pin)" :class="{off:!s.isGPIO}" title="Test solenoid" name="button">
          <span>{{pin}}</span>
          <img src="./assets/hit.svg">
        </button>
        <span class="separator"></span>
        <button type="button" v-on:click="hit()" :class="{off:!this.s.isWebaudio}" title="Test sound (browser)" name="button">
          <span>T</span>
          <img src="./assets/hit.svg">
        </button>
        <button type="button" v-on:click="hitMidi()" :class="{off:!this.s.isMidi}" title="Test sound (midi)" name="button">
          <span>M</span>
          <img src="./assets/hit.svg">
        </button>
        <span class="separator"></span>
        <button type="button" v-on:click="switchTheme()" title="Switch theme" name="button">
          <img src="./assets/switch-theme.svg">
        </button>
      </div>
    </div>
    <instrument
      v-for="(instrument, index) in instruments"
      :index="index"
      :instrument="instrument"
      :interPadTime="interPadTime"
      v-on:remove="instruments.splice(index, 1)"
      :time="time">
    </instrument>
    <footer><a href="https://gitlab.com/raphaelbastide/grovity">About / Code</a></footer>
  </div>
</template>

<script>
import { mapState } from 'vuex'
let Instrument, LineC, WebMidi, io;
io = require('socket.io-client');
WebMidi = require('webmidi');
Instrument = require('./components/Instrument');
let socket = null;

module.exports = {
  name: 'app',
  components: {
    Instrument: Instrument
  },
  data: function() {
    return {
      s: this.$store.state,
      time:this.$store.time,
      interPadTime:this.$store.interPadTime,
      isMidi: this.$store.isMidi,
      isWebaudio: this.$store.isWebaudio,
      isGPIO: this.$store.isGPIO,
    };
  },
  methods: {
    nextTick: function() {
      socket.emit('tick');
      if (!this.s.isPlaying) {
        this.s.time = -1;
        return;
      }
      this.s.interPadTime = Math.round((60 * 1000) / (this.s.bpm * 4));
      this.s.time = this.s.time + 1;
      let self = this;
      return setTimeout(function() {
        return self.nextTick();
      }, this.s.interPadTime);
    },
    hit: function(pin){
      if (pin == undefined) {
        console.log('playing test sound…');
        let testSound = new Tone.MembraneSynth()
        testSound.octaves = 1
        testSound.envelope.attack = 0.01
        testSound.envelope.sustain = 0.0001
        testSound.envelope.attackCurve = "linear"
        testSound.toDestination()
        testSound.triggerAttackRelease(200);
      }else {
        socket.emit('hit','manual',pin);
      }
    },
    hitMidi: function(){
      if (this.s.isMidi) {
        // this.s.midiOutput.sendControlChange("volumecoarse", 20, 1);
        // this.s.midiOutput.sendSysex(0x7F, [0x7F, 0x7F, 0x04, 0x01, 0x12, 0x34]);
        this.s.midiOutput.playNote("C5", 1, {duration: 200, velocity: 0.25});
      }
    },
    switchTheme: function(){
      if (this.s.theme == "dark") {
        this.s.theme = "bright"
      }else {
        this.s.theme = "dark"
      }
    },
    togglePlay: function() {
      if (this.s.isPlaying) {
        this.stop()
      } else {
        this.play()
      }
    },
    toggleMute: function() {
      if (this.s.isMute) {
        this.s.isMute = false
      } else {
        this.s.isMute = true
      }
    },
    play: function(){
      this.$store.state.isPlaying = true
      socket.emit('play');
      return this.nextTick();
    },
    stop:function(){
      this.s.time === -1;
      this.$store.state.isPlaying = false
    },
    exportState: function(){
      this.saveState(); // not working?
      this.downloadFile(JSON.stringify(this._data))
    },
    importState: function(event){
      let file = event.target.files[0]
      this.readFileContent(file).then(content => {
        this.s.instruments = JSON.parse(content).s.instruments;
        this.saveState();
      }).catch(error => console.log(error))
    },
    readFileContent: function(file) {
      const reader = new FileReader()
      return new Promise((resolve, reject) => {
        reader.onload = event => resolve(event.target.result)
        reader.onerror = error => reject(error)
        reader.readAsText(file)
      })
    },
    saveState() {
      localStorage.setItem('grovity', this.$store.getters.toJSON);
      let that = this.$store.state
      that.saveIndicator = true
      setTimeout(function () {
        that.saveIndicator = false
      }, 200);

    },
    loadState() {
      if (localStorage.getItem('grovity')) {
        this.$store.commit('loadJSON', localStorage.getItem('grovity'));
      }
    },
    addInstrument() {
      // this.$store.commit('addInstrument', 4);
      let padList = []
      for (let i = 0; i < 4; i++) {
        padList.push({padActive:false, padOffset:0, padProbability:10})
      }
      this.$store.state.instruments.push({
        pin:4,
        volume:0,
        padList:padList,
        synth:"",
        note:200,
        swingValue:"0",
        swingDistribution:"0",
        isMute:false,
        isMinimized:false,
        measures: 1,
        probability:10,
        interPadTime: 0,
        midiData:{
          note: "B4",
          duration:200,
          channel: 1
        }
      });
      this.saveState();
    },
    downloadFile(data) {
      const blob = new Blob([data], {type: 'text/plain'})
      const e = document.createEvent('MouseEvents'),
      a = document.createElement('a');
      a.download = this.s.title+".json";
      a.href = window.URL.createObjectURL(blob);
      a.dataset.downloadurl = ['text/json', a.download, a.href].join(':');
      e.initEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
      a.dispatchEvent(e);
    },
    keyListen(e) {
      if (!(e.keyCode === 83 && e.ctrlKey)) {
        return;
      }
      e.preventDefault();
      this.saveState()
    },
    updateOutputs(outputId){
      if (outputId == "webaudio") {
        this.s.isWebaudio = ! this.s.isWebaudio
      }else if (outputId == "midi") {
        if (this.s.isMidi == false) {
          console.log('miditrue');
          this.$store.commit('initMidi', WebMidi)
        }else {
          console.log('midifalse');
          this.s.isMidi = false
        }
      }else if (outputId == "gpio") {
        this.s.isGPIO = ! this.s.isGPIO
      }
    },
    showComment(){
      console.log(this.s.showComment);
      this.s.showComment = ! this.s.showComment
    },
    updateBpm(val){
      this.s.bpm = val
    },
    updateTitle(val){
      this.s.title = val
    },
    updateComment(val){
      this.s.comment = val
    }
  },
  created: function() {
    socket = io();
  },
  computed: {
    ...mapState({
      instruments: state => state.instruments
    }),
  },
  mounted: function (){
    let mode = window.matchMedia('(prefers-color-scheme: dark)').matches
    this.loadState();
    document.addEventListener("keydown", this.keyListen);
    // this.$store.commit('initMidi', WebMidi)
  },
  beforeDestroy() {
    document.removeEventListener("keydown", this.keyListen);
  },
};
</script>

<style lang="css">
  @import './utils.css';
  #app{
    font-family: "Liberation sans narrow", sans-serif;
    color:var(--g2);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background: var(--g6);
    min-height: 100vh;

  }
  input[type="text"]{
    width:100px;
    text-transform: none;
    font-family:"Liberation mono", monospace;
    font-weight: normal;
  }
  select{
    background: var(--g6);
    border: 0;
    width:4em;
    padding: 2px 5px;
  }
  input[type="number"].small{
    width:3em;
  }
  button img, .button img{
    width:20px;
  }
  .comment{
    display: none;
  }
  .comment.show{
    display: block;
  }
  .dark button img, .dark .button img{
    filter:invert(80%);
  }
  .upload-btn{
    position: relative;
  }
  .separator{
    border-left:1px solid var(--g4);
  }
  .upload-input{
    opacity: 0;
    width:100%;
    height: 100%;
    position: absolute;
    top: 1px;
    left: 1px;
  }
  .save-indicator{
    width:var(--p);
    height:var(--p);
    border-radius: 100%;
    align-self: center;
  }
  .save-indicator.active{
    background:lime;
  }
  .main-controls{
    display: flex;
    padding:var(--p);
  }
  .main-controls > *:not(:last-child),
  .pin-list button:not(:last-child),
  .output-list button:not(:last-child),
  .separator{
    margin-right:var(--p);
  }
  .pin-list, .output-list{
    flex: 1 1 auto;
    justify-content: flex-end;
    display: flex;
  }
  .pin-list button{
    position: relative;
  }
  .pin-list button span{
    top:1px;
    right:1px;
    font-size: .7em;
    position: absolute;
  }
  footer{
    text-align: right;
    font-size: .8em;
    padding:0 var(--p);
  }
  footer a{
    text-decoration: none;
    color:var(--g1);
  }
</style>
